npm config set init.author.name "Neal Grantham"
npm config set init.author.email "neal@nsgrantham.com"
npm config set init.author.url "https://nsgrantham.com"
npm config set init.license "MIT"
npm config set init.version "0.0.1"
